[submodule "themes/nix"]
	path = themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix
[submodule "themes/paulmatthews"]
	path = themes/paulmatthews
	url = https://github.com/pdmxdd/hugo-theme-paulmatthews
